<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/Levin-Li/app/zz_ios/main.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/Levin-Li/app/zz_ios/main.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/Levin-Li/app/zz_ios/main_full_size.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.kaer.read.app</key>
		<string>ZZKaerApp</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>A868CR7W22</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
